<header-bar title="数据概况" right="报表|toRight"></header-bar>

<ion-side-menus enable-menu-with-back-views="true">
    <!-- Left menu -->
    <!-- <ion-side-menu side="left"></ion-side-menu> -->

    <ion-side-menu-content>
        <ion-view>
            <!-- <ion-content class="mod_wrapper" delegate-handle="mainScroll"> -->
            <ion-content class="mod_wrapper">

                <div class="mod_blank mb10">
                    <h2>总体数据</h2>
                    <ul class="mod_table">
                        <li ng-repeat="(k, v) in DataList.Basic track by $index">
                            <div>
                                <p>{{v.name}}</p>
                                <p>{{v.num}}</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- <div class="mod_blank" ng-class="{mb10: View=='word'}">
                    <h2>筛选条件<i>{{Page.TimeText}}</i></h2>

                    <tab-time mid="show" right="show" hide="2" callback="getData"></tab-time>
                    <filter-bar type="data" callback="getData"></filter-bar>
                </div> -->

                <div class="mod_blank">
                    <h2>用户数据明细<i>{{CustomTime}}</i></h2>

                    <!-- <div class="list_data" ng-if="View == 'word'">
                        <dl ng-repeat="(k, v) in DataList.List track by $index">
                            <dt>{{v.date}}</dt>
                            <dd>
                                <div>
                                    <p>激活用户</p>
                                    <p>{{v.cate_1}}</p>
                                </div>
                                <div>
                                    <p>激活用户</p>
                                    <p>{{v.cate_2}}</p>
                                </div>
                            </dd>
                            <dd>
                                <div>
                                    <p>认证用户</p>
                                    <p>{{v.cate_3}}</p>
                                </div>
                                <div>
                                    <p>开通小区</p>
                                    <p>{{v.cate_4}}</p>
                                </div>
                            </dd>
                        </dl>
                    </div> -->

                    <dl class="list_table">
                        <dt>
                            <p style="width:90px;">日期</p>
                            <p>激活<i>{{a1}}</i></p>
                            <p>注册<i>{{a2}}</i></p>
                            <p>认证<i>{{a3}}</i></p>
                            <!-- <p>开通小区<i>{{a4}}</i></p> -->
                        </dt>
                        <dd ng-repeat="(k, v) in DataList.List track by $index">
                            <p>{{v.date}}</p>
                            <p >{{v.cate_1}}</p>
                            <p>{{v.cate_2}}</p>
                            <p>{{v.cate_3}}</p>
                            <!-- <p>{{v.cate_4}}</p> -->
                        </dd>
                    </dl>

                    <!-- <ion-scroll direction="x" zooming="false" scrollbar-x="false" delegate-handle="horizontal" horizontal-scroll-fix="mainScroll"> -->
                    <!-- <ion-scroll direction="x" scrollbar-x="false" locking="false"> -->
                    <!-- <dl class="list_table">
                        <dt>
                            <p style="width:90px;">日期</p>
                            <p>激活用户（{{a1}}）</p>
                            <p>注册用户（{{a2}}）</p>
                            <p>认证用户（{{a3}}）</p>
                            <p>开通小区（{{a4}}）</p>
                        </dt>
                        <dd ng-repeat="(k, v) in DataList.List track by $index">
                            <p>{{v.date}}</p>
                            <p >{{v.cate_1}}</p>
                            <p>{{v.cate_2}}</p>
                            <p>{{v.cate_3}}</p>
                            <p>{{v.cate_4}}</p>
                        </dd>
                    </dl>
                    </ion-scroll> -->
                </div>

                <div class="h50"></div>
            </ion-content>
        </ion-view>

        <filter-data ng-model="Post.Filter" hide="2" start="{{Post.Filter.StartTime}}" end="{{Post.Filter.EndTime}}" route="base-data-view"></filter-data>
    </ion-side-menu-content>

    <!-- Right menu -->
    <ion-side-menu side="right">
        <page-calendar ng-model="Page.Calendar"></page-calendar>
    </ion-side-menu>

</ion-side-menus>

<show-login></show-login>
