<header-bar title="日期选择" right="确定|toSubmit"></header-bar>

<ion-view>
    <ul class="mdate_title" ng-class="{t_pt: isApple}"><li>日</li><li>一</li><li>二</li><li>三</li><li>四</li><li>五</li><li>六</li></ul>
    <!-- <ion-content class="mod_wrapper" delegate-handle="mainScroll"> -->
    <ion-content>
        <ion-refresher pulling-text="" on-refresh="setCalendar('prev')"></ion-refresher>
        
        <div class="mdate_detail" style="padding-top:30px;" ngd-click="chooseCalendar($event)" selector="p">
            <dl ng-repeat="(key, item) in List track by $index">
                <dt>{{item.Tdate}}</dt>
                <dd ng-repeat="(k, v) in item.Tday track by $index">
                    <p ng-repeat="(i, n) in v track by $index" data-year="{{n.year}}" data-month="{{n.month}}" data-day="{{n.day}}" data-key="{{key}}" class="{{n.class}}">
                        {{n.day}}
                    </p>
                </dd>
            </dl>
        </div>

        <ion-infinite-scroll on-infinite="setCalendar('next')" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>

<show-login></show-login>
