<h3 class="mod_page_title">{{Page.Title}}模块相关页面列表</h3>

<div class="mod_page_list mb10">
    <dl>
        <dt>
            <div></div>
            <div>PageId</div>
            <div>PageName</div>
            <div>URL</div>
        </dt>
        <dd ng-repeat="(k,v) in DataList.List track by $index" ui-sref="report.detail({mid: Page.Id, id: v.Id})">
            <div>{{v.Id}}</div>
            <div>{{v.PageId}}</div>
            <div>{{v.Name}}</div>
            <div>{{v.Url}}</div>
        </dd>
    </dl>
</div>

<ul class="mod_next_page" ngd-click="setPage($event)" selector="li">
    <li ng-repeat="(k, v) in [] | makeArr: PageTotal" ng-class="{current: v == Page.PageIndex}">
        {{v}}
    </li>
    <!-- <li class="current">2</li> -->
    <!-- <li>3</li> -->
</ul>