<!-- 视图切换 -->
<tab-view menu='show'></tab-view>

<!-- 时间切换 -->
<tab-time mid="show" callback="getData"></tab-time>

<!-- {{Page.Calendar}} -->

<ul class="mod_page_detail mb10">
    <li>
        <p>浏览量(PV) </p>
        <p>9000</p>
    </li>
    <li>
        <p>访客数(UV)</p>
        <p>12</p>
    </li>
    <li>
        <p>IP数</p>
        <p>12</p>
    </li>
    <li>
        <p>页面停留时间</p>
        <p>12</p>
    </li>
    <li>
        <p>点击统计</p>
        <p>12312</p>
    </li>
</ul>


<!-- 筛选项切换 -->
<tab-detail callback='getData'></tab-detail>

<div ng-show="Page.View == 'photo'" id="chart" class="mb10" style="width:{{Page.X}}"></div>
    <!-- <highchart id="chart" config="chartConfig" class="mb20"></highchart> -->
<!-- <view-charts ng-show="Page.View == 'photo'"></view-charts> -->

<section ng-show="Page.View == 'word'">
    <dl ng-show="Page.CheckType != 'btn'" class="mod_table_03">
        <dt>
            <div>时间</div>
            <div>浏览量(PV)</div>
            <div>访客数(UV)</div>
            <div>IP数</div>
            <div>跳出率(Bounce rate)</div>
            <div>页面停留时间</div>
        <dt>
        <dd ng-repeat="(k, v) in DataList.List.Pv track by $index">
            <div>{{k}}</div>
            <div>{{v}}</div>
            <div>{{DataList.List.Uv[k]}}</div>
            <div>{{DataList.List.Ip[k]}}</div>
            <div>{{DataList.List.Page[k] | formatprec}}</div>
            <div>{{DataList.List.Stop[k]}}</div>
        </dd>
    </dl>

    <dl ng-show="Page.CheckType == 'btn'" class="mod_table_02">
        <dt>
            <div>ButtonId</div>
            <div>
                <ul>
                    <li>点击数</li>
                    <li>
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>5</p>
                        <p>6</p>
                        <p>7</p>
                        <p>8</p>
                        <p>9</p>
                        <p>10</p>
                        <p>11</p>
                        <p>12</p>
                        <p>13</p>
                        <p>14</p>
                        <p>15</p>
                        <p>16</p>
                        <p>17</p>
                        <p>18</p>
                        <p>19</p>
                        <p>20</p>
                        <p>21</p>
                        <p>22</p>
                        <p>23</p>
                    </li>
                </ul>
            </div>
        <dt>
        <dd ng-repeat="(k, v) in DataList.Charts track by $index">
            <div>{{v.name}}</div>
            <div>
                <p ng-repeat="(i, n) in v.data track by $index">{{n}}</p>
            </div>
        </dd>
    </dl>
</section>


