//icon字体
@mixin icon(
    $type: "\f3d2",
    $size: 20px,
    $color: #000,
    $display: inline-block,
    $elem: before,
    $line: null,
    $width: null,
    $height: null,
    $align: null,
    $background: null,

    $position: null, //lt
    $left: 0,
    $top: 0,
    $right: 0,
    $bottom: 0,

    $radius: null,

    $float: null,

    $marginright: null,
    $marginleft: null
) {
    &:#{$elem} {
        @include font-icon();

        display: $display;
        vertical-align: middle;
        content: "#{$type}";
        font-size: $size;
        color: $color;

        @if $line != null {
            line-height: $line;
        }

        @if $width != null {
            width: $width;
        }

        @if $height != null {
            height: $height;
        }

        @if $align != null {
            text-align: $align;
        }

        @if $background != null {
            background: $background;
        }

        @if $position == lt { // 左上
            position: absolute;
            left: $left;
            top: $top;
        } @else if $position == lb { // 左下
            position: absolute;
            left: $left;
            bottom: $bottom;
        } @else if $position == tr { // 上右
            position: absolute;
            top: $top;
            right: $right;
        } @else if $position == rb { // 上右
            position: absolute;
            right: $right;
            bottom: $bottom;
        }

        @if $radius != null {
            @include border-radius($radius);
        }

        @if $float != null {
            float: $float;
        }

        @if $marginleft != null {
            margin-left: $marginleft;
        }

        @if $marginright != null {
            margin-right: $marginright;
        }
    }
}