<section class="mod_calendar">
    <div class="calendar_input" ng-click="showCalendar($event)">{{Calendar.date || '选择日期'}}</div>

    <!-- <section ng-show="Calendar.show" class="js_calendar calendar"> -->
    <section class="js_calendar calendar">
        <dl>
            <dt>
                <div ng-click="changeYear('prev')"></div>
                <h3>{{Calendar.year}}年{{Calendar.month+1}}月</h3>
                <div ng-click="changeYear('next')"></div>
            </dt>
            <dd>
                <div ng-click="changeMonth('prev')"></div>
                <section>
                    <ul><li><p>日</p><p>一</p><p>二</p><p>三</p><p>四</p><p>五</p><p>六</p></li></ul>
                    <ul ngd-click="chooseCalendar($event)" selector="p">
                        <li ng-repeat="(k, v) in DateDay track by $index">
                            <p ng-repeat="(i, n) in v track by $index" class="{{n.class}}">{{n.day}}</p>
                        </li>
                    </ul>
                </section>
                <div ng-click="changeMonth('next')"></div>
            </dd>
        </dl>
        <!-- <h4>{{Calendar.error}}</h4> -->
        <div class="calendar_btn">
            <div>选择的日期为：</div>
            <input ng-model="Calendar.input" readonly="readonly" />
            <blank></blank>
            <p ng-click="submitCalendar()">确定</p>
            <p ng-click="cancleCalendar()">取消</p>
        </div>
    </section>
</section>