<section ng-if="showHeader" class="mod_submenu">
    <div ngd-click="setMenu($event)" selector="li" class="t_menu_icon">
        <ul ng-if="HeaderTab == 'action'">
            <li data-menu="1" class="icon_01" ng-class="{current: MenuId==1}">趋势</li>
            <li data-menu="2" class="icon_02" ng-class="{current: MenuId==2}">分布</li>
            <li data-menu="3" class="icon_03" ng-class="{current: MenuId==3}">模块</li>
        </ul>

        <ul ng-if="HeaderTab == 'base'">
            <li data-menu="base_data" class="icon_04" ng-class="{current: MenuId=='base_data'}" ui-sref="report.base-data({time: 'week'})">
                数据概况
            </li>
            <li data-menu="base_user" class="icon_05" ng-class="{current: MenuId=='base_user'}" ui-sref="report.base-user({time: 'week'})">
                活跃用户
            </li>
            <!-- <li data-id="6" class="icon_06" ng-class="{current: MenuId==6}">留存用户</li> -->
        </ul>
    </div>

    <!-- ngd-click="setMenu($event)" selector="li"  -->
    <div ngd-click="setMenuDetail($event)" selector="li" class="js_menu t_menu_list" ng-if="!HideSub">
        <ul ng-if="MenuId==1">
            <li ui-sref="report.index" ng-class="{current: MenuName=='index'}">
                数据概况
            </li>
            <li ui-sref="report.count({time: 'today'})" ng-class="{current: MenuName=='count_today'}">
                今天统计
            </li>
            <li ui-sref="report.count({time: 'yesterday'})"  ng-class="{current: MenuName=='count_yesterday'}">
                昨日统计
            </li>
            <li ui-sref="report.count({time: 'week'})" ng-class="{current: MenuName=='count_week'}">
                最近7天
            </li>
            <li ui-sref="report.count({time: 'month'})" ng-class="{current: MenuName=='count_month'}">
                最近30天
            </li>
        </ul>

        <ul ng-if="MenuId==2">
            <li ui-sref="report.client({type: 'app', time: 'today'})" ng-class="{current: MenuName=='client_app'}">
                APP版本统计
            </li>
            <li ui-sref="report.client({type: 'os', time: 'today'})" ng-class="{current: MenuName=='client_os'}">
                系统分布统计
            </li>
        </ul>

        <ul ng-if="MenuId==3">
            <!-- ui-sref-active="current" -->
            <li ng-repeat="(k,v) in PageList.Page track by $index" ui-sref="report.list({id: v.Id, name: v.Name})" ng-class="{current: MenuName=='page_'+v.Id}">
                {{v.Name}}
            </li>
        </ul>
    </div>



                    <!-- ui-sref-active="current" -->
</section>
