<div class="mod_tab_01 mb10">
    <ul ngd-click="setTime($event)" selector="li" class="t_type">
        <li data-type="today" ng-class="{current: Page.TimeType == 'today'}" ng-if="!hideToday">今天</li>
        <li data-type="yesterday" ng-class="{current: Page.TimeType == 'yesterday'}" ng-if="!hideYesterday">昨天</li>
        <li data-type="week" ng-class="{current: Page.TimeType == 'week'}">最近7天</li>
        <li data-type="month" ng-class="{current: Page.TimeType == 'month'}">最近30天</li>
    </ul>

    <div class="t_calendar" ng-show="tShowCalendar">
        <!-- <calendar ng-model="Page.Calendar" fun="ko"></calendar> -->
        <calendar-group ng-model="Page.Calendar"></calendar-group>
        <!-- <calendar-group ng-model="Page.Calendar2"></calendar-group> -->
    </div>

    <div class="t_blank"></div>

    <div ngd-click="setTimeFilter($event)" selector="p" class="t_btn" ng-show="tShowtType">
        <!-- <p data-type="hour" ng-class="{current: Filter.Type == 'hour'}">按时</p> -->
        <p data-type="day"   ng-class="{current: Filter.TimeType == 'day'}">按天</p>
        <p data-type="week"  ng-class="{current: Filter.TimeType == 'week'}">按周</p>
        <p data-type="month" ng-class="{current: Filter.TimeType == 'month'}">按月</p>
    </div>
</div>