*{ margin:0; padding:0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ display:block; }
html{ font-family:"Microsoft YaHei", Arial; }
body{
	font-family:"Microsoft YaHei", Arial; font-size:14px;
	/*-webkit-user-select:none;*/
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
}
ul,li{ list-style:none; }
img{ border:0; }
li,img,label,input{ vertical-align:middle; }
a{ text-decoration:none; outline:0; color:#333; }
a:visited{ text-decoration:none; }
a:hover{ color:#247df5; color:#1663ff; }
em,b{ font-style:normal; }


/*img list*/
.img_list_01{ width:100%; }
.img_list_01 li{ width:100%; display:block; }
.img_list_01 li div{ position:relative; width:100%; color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,.3); }
.img_list_01 li a{ color:#fff; }
.img_list_01 li img{ display:block; width:100%; height:auto; }
.img_list_01 li dl{
	position:absolute; z-index:1; left:0; bottom:0; padding:10px; width:100%;
	background:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.6));
	box-sizing:border-box;
}
.img_list_01 li dt{ font:bold 20px/25px Arial; }
.img_list_01 li dd{ font:14px/20px Arial; }
.img_list_01 article{ padding:10px; font:14px/20px Arial; }


/*title*/
.title_01{ color:#f0433e; font:bold 20px/40px Arial; text-align:center; border-bottom:5px solid #f0433e; }
.title_02{ width:100%; font:bold 20px/40px Arial; color:#f0433e; padding:0 10px; box-sizing:border-box; text-align:center; }


/*detail*/
.detail{ width:100%; font:14px/20px Arial; box-sizing:border-box; padding:10px; }

.detail_01{ width:100%; position:relative; }
.detail_01 div{ padding:20px; color:#9fa0a0; line-height:21px; }
.detail_01 div span{ color:#f0433e; }
.detail_01 img{ position:absolute; right:20px; top:50%; margin-top:-50px; height:100px; }


/*art list*/
.art_list_01{ width:100%; }
.art_list_01 li{
	width:100%; font:bold 16px/40px Arial; color:#fff; text-align:center; border-top:1px solid #de5c4d;
	background:-webkit-linear-gradient(top, #e8443f, #db3f3b, #c93935);
}
.art_list_01 li a{ color:#fff; display:block; }

.art_list_02{ width:100%; }
.art_list_02 li{
	width:100%; font:bold 16px/30px Arial; color:#fff; text-align:center; border-top:1px solid #de5c4d;
	background:-webkit-linear-gradient(top, #e8443f, #db3f3b, #c93935);
}
.art_list_02 li a{ color:#fff; display:block; }

.art_list_03{ width:100%; }
.art_list_03 li{
	width:100%; font:14px/20px Arial; text-align:center; text-align:center; padding:10px;
	box-sizing:border-box;
}
.art_list_03 li a{ display:block; }
.art_list_03 li span{ color:#f0433e; }

.art_list_03 li:nth-child(1),
.art_list_03 li:nth-child(9),
.art_list_03 li:nth-child(17),
.art_list_03 li:nth-child(25),
.art_list_03 li:nth-child(33),
.art_list_03 li:nth-child(41){ background:#fff; }

.art_list_03 li:nth-child(2),
.art_list_03 li:nth-child(10),
.art_list_03 li:nth-child(18),
.art_list_03 li:nth-child(26),
.art_list_03 li:nth-child(34),

.art_list_03 li:nth-child(8),
.art_list_03 li:nth-child(16),
.art_list_03 li:nth-child(24),
.art_list_03 li:nth-child(32),
.art_list_03 li:nth-child(40){ background:#eeeeef; }

.art_list_03 li:nth-child(3),
.art_list_03 li:nth-child(11),
.art_list_03 li:nth-child(19),
.art_list_03 li:nth-child(27),
.art_list_03 li:nth-child(35),

.art_list_03 li:nth-child(7),
.art_list_03 li:nth-child(15),
.art_list_03 li:nth-child(23),
.art_list_03 li:nth-child(31),
.art_list_03 li:nth-child(39){ background:#e5e5e6; }

.art_list_03 li:nth-child(4),
.art_list_03 li:nth-child(12),
.art_list_03 li:nth-child(20),
.art_list_03 li:nth-child(28),
.art_list_03 li:nth-child(36),

.art_list_03 li:nth-child(6),
.art_list_03 li:nth-child(14),
.art_list_03 li:nth-child(22),
.art_list_03 li:nth-child(30),
.art_list_03 li:nth-child(38){ background:#dbdcdc; }

.art_list_03 li:nth-child(5),
.art_list_03 li:nth-child(13),
.art_list_03 li:nth-child(21),
.art_list_03 li:nth-child(29),
.art_list_03 li:nth-child(37){ background:#d2d2d3; }

/*icon*/
.icon_restaurant,
.icon_hotel,
.icon_shopping{ display:inline-block; width:20px; height:20px; vertical-align:middle; }
.icon_restaurant{ background:url(images/icon_restaurant.png) no-repeat center center; background-size:100% 100%; }
.icon_hotel{ background:url(images/icon_hotel.png) no-repeat center center; background-size:100% 100%; }
.icon_shopping{ background:url(images/icon_shopping.png) no-repeat center center; background-size:100% 100%; }