<section class="mod_calendar_group">
    <div class="calendar_input" ng-click="showCalendar($event)">{{Calendar.date || '选择日期'}}</div>

    <!-- <section ng-show="Calendar.show" class="js_calendar calendar"> -->
    <section class="js_calendar calendar" ng-show="iShowCalendar">
        <dl>
            <dt>
                <div ng-click="changeYear('prev')"></div>
                <h3 ng-repeat="item in CalendarList track by $index">{{item[0][6].year}}年{{item[0][6].month}}月</h3>
                <div ng-click="changeYear('next')"></div>
            </dt>
            <dd>
                <div ng-click="changeMonth('prev')"></div>
                <section ng-repeat="(key, item) in CalendarList track by $index">
                    <ul><li><i>日</i><i>一</i><i>二</i><i>三</i><i>四</i><i>五</i><i>六</i></li></ul>
                    <ul ngd-click="chooseCalendar($event)" selector="p">
                        <li ng-repeat="(k, v) in item track by $index">
                            <p ng-repeat="(i, n) in v track by $index" data-year="{{n.year}}" data-month="{{n.month}}" data-day="{{n.day}}" class="{{n.class}}">
                                {{n.day}}
                            </p>
                        </li>
                    </ul>
                </section>
                <div ng-click="changeMonth('next')"></div>
            </dd>
        </dl>
        <!-- <h4>{{Calendar.error}}</h4> -->
        <div class="calendar_btn">
            <div>选择的日期为：</div>
            <!-- <input ng-model="Calendar.prevDate+'~'+Calendar.nextDate" readonly="readonly" /> -->
            <div>{{Calendar.input}}</div>
            <blank></blank>
            <p ng-click="submitCalendar()">确定</p>
            <p ng-click="cancleCalendar()">取消</p>
        </div>
    </section>
</section>