<ion-header-bar class="mod_header" align-title="center" no-tap-scroll="true">
    <button page-back class="back_button"></button>
    
    <h1 class="title" ng-bind-html="Header.Title"></h1>

    <!-- <button class="button" ng-click="Header.Right()" ng-bind-html="Header.RightText">123123</button> -->
    <button menu-toggle="right" class="button button-icon icon ion-clock" ng-click="toggleRightSideMenu()"></button>
    <!-- <button menu-toggle="right" class="button button-icon icon ion-navicon" ng-click="toggleRightSideMenu()"></button> -->
</ion-header-bar>