.mod_header {
    background: $blue;
    // background: #fff;
    @include bottom-shadow();
    // @include border-half($type: bottom);
    .back_button {
        background: none;
        border: none;
        text-align: left;
        width: 40px;
        text-indent: 3px;
        cursor: pointer;
        @include icon($color: #fff, $size: 25px);
    }
    .title {
        color: #fff;
    }

    .button {
        background: none;
        border: 0;
        outline: none;
        color: #fff;
    }
}

.mod_submenu {
    @include box();
    .t_menu_icon {
        width: 60px;
        li {
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
            cursor: pointer;
            @include icon(
                $color: #fff,
                $display: block,
                $size: 35px
            );
			&.current {
				color: #000;
				&:before {
					color: #000;
				}
			}
            &.icon_01:before {
                content: "\f493";
            }
            &.icon_02:before {
                content: "\f483";
            }
            &.icon_03:before {
                content: "\f453";
            }
            &.icon_04:before {
                content: "\f471";
            }
            &.icon_05:before {
                content: "\f3b1";
            }
            &.icon_06:before {
                content: "\f119";
            }
        }
    }

    .t_menu_list {
        width: 0;
        -webkit-box-flex: 1;
        li {
            line-height: 40px;
            padding-left: 10px;
            cursor: pointer;
            &.current {
                background: $green;
                background: #ccc;
                color: #fff;
            }
        }
    }
}

