.mod_header {
    background: $blue;
    // background: #fff;
    @include bottom-shadow();
    // @include border-half($type: bottom);
    .back_button {
        background: none;
        border: none;
        text-align: left;
        width: 40px;
        text-indent: 3px;
        cursor: pointer;
        @include icon($color: #fff, $size: 25px);
    }
    .title {
        color: #fff;
    }

    .button {
        background: none;
        border: 0;
        outline: none;
        color: #fff;
    }
}

.mod_submenu {
    @include box();
    .t_menu_icon {
        width: 60px;
        li {
            color: #fff;
            text-align: center;
            margin-bottom: 15px;
            cursor: pointer;
            @include icon(
                $color: #fff,
                $display: block,
                $size: 35px
            );
			&.current {
				color: #000;
				&:before {
					color: #000;
				}
			}
            &.icon_01:before {
                content: "\f493";
            }
            &.icon_02:before {
                content: "\f483";
            }
            &.icon_03:before {
                content: "\f453";
            }
            &.icon_04:before {
                content: "\f471";
            }
            &.icon_05:before {
                content: "\f3b1";
            }
            &.icon_06:before {
                content: "\f119";
            }
        }
    }

    .t_menu_list {
        width: 0;
        -webkit-box-flex: 1;
        li {
            line-height: 40px;
            padding-left: 10px;
            cursor: pointer;
            &.current {
                background: $green;
                background: #ccc;
                color: #fff;
            }
        }
    }
}

.mod_back {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 999;
    width: 60px;
    height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    line-height: 40px;
    @include icon($color: #fff, $mr: 5px);
    @include border-radius(3px);
}


.mod_footer {
    background: #f8f8f8;
    @include border-half($type: top);
    h1 {
        font-size: 12px !important;
        font-weight: normal !important;
    }
    .button {
        background: $blue !important;
        border: none !important;
        -webkit-border-radius: 0 !important;
        color: #fff;
    }
    div:nth-child(1) {
        .button {
            background: #999 !important;
            // color: #000;
        }
    }
}

.mod_footer_filter {
    padding: 0;
    background: #f8f8f8;
    z-index: 1000;
    @include border-half($type: top);
    @include box($align: center);
    div {
        width: 0;
        -webkit-box-flex: 1;
        text-align: center;
        height: 44px;

        line-height: 20px;
        cursor: pointer;

        @include box($align: center, $pack: center, $orient: vertical);
        i {
            line-height: 12px;
            display: block;
            font-size: 12px;
            color: $blue;
        }
        &.current {
            color: #fff;
            background: $blue;
            i {
                color: #fff;
            }
        }
    }
}
.mod_filter_list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0,0,0,0.2);
    // -webkit-backdrop-filter: blur(1px);

    z-index: 999;
    background: rgba(0,0,0,0);
    display: none;

    &.t_show {
        display: block;
        -webkit-animation: showFilter 0.2s  ease-in-out 1 forwards;
    }
    &.t_hide {
        -webkit-animation: hideFilter 0.2s ease-in-out 1 forwards;
    }

    ul {
        position: absolute;
        left: 0;
        bottom: 43px;
        width: 100%;
        background: rgba(255, 255, 255, 1);
        -webkit-transform: translate3d(0, 100%, 0);
        @include border-half($type: top);
        li {
            padding: 0 10px;
            line-height: 40px;
            // text-align: center;
            cursor: pointer;

            @include box($align: center, $pack: justify);
            @include border-half($type: bottom);
            &.current {
                color: $blue;
                @include icon($elem: after, $color: $blue, $type: "\f383", $display: block);
            }
        }

        &.tshow {
            -webkit-transition: -webkit-transform 0.2s linear;
            -webkit-transform: translate3d(0, 0, 0);
        }

        &.thide {
            -webkit-transition: -webkit-transform 0.2s linear;
            -webkit-transform: translate3d(0, 100%, 0);
        }
    }
}
@keyframes showFilter {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.2);
    }
}
@keyframes hideFilter {
    0% {
        background: rgba(0, 0, 0, 0.2);
    }
    100% {
        background: rgba(0, 0, 0, 0);
    }
}


