.mod_page_list {
    dl {
        width: 100%;
        display: table;
        border-collapse: collapse;  
        dt, dd {
            display: table-row;
            div,
            p {
                display: table-cell;
                line-height: 20px;
                padding: 10px;
            }
        }

        dt {
            background: $border;
            font-weight: bold;
        }
        dd {
            cursor: pointer;
            background: #fff;
            border-bottom: 1px solid $border;
        }
    }
}

.mod_client {
    background: #fff;
    padding: 10px;

    @include box($align: start);

    .mod_client_photo {
        display: block;
        @include border-half($type: all);
    }

    .mod_client_list {
        margin-left: 10px;
        // width: 250px;
        width: 0;
        -webkit-box-flex: 1;
        @include border-half($type: all);
        dt,
        dd {
            padding: 0 10px;
            line-height: 30px;
            @include box();
            @include border-half($type: bottom);
            label {
                display: block;
                width: 80px;
                @include border-half($type: right);
            }
            @include last-no();
        }
        dt {
            background: #eee;
            p {
                &:nth-child(2) {
                    padding-left: 10px;
                    width: 100px;
                }
            }
        }

        dd {
            ul {
                width: 0;
                -webkit-box-flex: 1;
                li {
                    @include box();
                    @include border-half($type: bottom);
                    p {
                        &:nth-child(1) {
                            width: 100px;
                            padding-left: 10px;
                        }
                    }
                    @include last-no();
                }
            } 
        }
    }
}


.list_table {
    font-size: 12px;
    width: 100%;
    display: table;
    // border-collapse: collapse;
    // @include border-half($type: all);
    dt, dd {
        display: table-row;
        div,
        p {
            display: table-cell;
            line-height: 30px;
            padding: 5px 10px;
            white-space: nowrap;
            @include border-half($type: bottom);
        }
    }

    dt {
        background: #eee;
        font-weight: bold;
        p {
            padding: 5px 10px;
        }
    }
    dd {
        p.t_up {
            @include icon(
                $type: "\f3d7",
                $elem: after,
                $color: $green,
                $ml: 5px
            );
        }
    }
}



.list_data {
    dl {
        @include border-half($type: all);
        margin-bottom: 10px;
        dt {
            background: #f8f8f8;
            line-height: 30px;
            text-indent: 10px;
            font-weight: normal;
        }
        dd {
            @include border-half($type: bottom);
            @include box();
            div {
                width: 0;
                -webkit-box-flex: 1;
                padding: 5px 10px;
                p {
                    line-height: 20px;
                    &:nth-child(1) {
                        color: #aaa;
                    }
                }
            }
            @include last-no();

            &:nth-child(2) {
                div {
                    &:nth-child(1) {
                        p:nth-child(2) {
                            color: #f60;
                        }
                    }
                    &:nth-child(2) {
                        p:nth-child(2) {
                            color: $blue;
                        }
                    }
                }
            }

            &:nth-child(3) {
                div {
                    &:nth-child(1) {
                        p:nth-child(2) {
                            color: #79e900;
                        }
                    }
                    &:nth-child(2) {
                        p:nth-child(2) {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}


