@font-face {
    font-family: "Ionicons";
    src: url("fonts/ionicons.eot");
    src: url("fonts/ionicons.eot") format("embedded-opentype"),
        url("fonts/ionicons.ttf") format("truetype"),
        url("fonts/ionicons.woff") format("woff"),
        url("fonts/ionicons.woff") format("woff"), /* for WP8 */
        url("fonts/ionicons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

$green:   #3cc482;
$red:     #dc2822;
$orange:  #ff9600;
$link:    #e6e1db;
$text:    #72685e;
$bgcolor: #e8e2d4;
$border:  #ddd;

@mixin font-icon () {    
    font-family: "Ionicons";
    font-weight: normal;
}

@mixin border-radius ($radius: 5px) {
    -webkit-border-radius: $radius;
            border-radius: $radius;
}

@mixin box-sizing ($type: border-box) {
    -webkit-box-sizing: $type;
            box-sizing: $type;
}

@mixin overflow-scroll ($top: 0, $left: 0) {
    position: absolute;
    left: $left;
    top: $top;
    width: 100%;
    height: 100%;

    @include box-sizing();
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@mixin last-no () {
    &:last-child {
        border: 0;
        -webkit-border-image: none;
    }
}


// 文字超出显示...
@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


// 多行文字超出显示... 参数：line-clamp
@mixin multi-ellipsis($line: 3) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



@mixin bottom-shadow () {
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
}


// width + height 
@mixin width-height ($wh) {
    width: $wh;
    height: $wh;
}

// height + line-height
@mixin height-line ($height) {
    height: $height;
    line-height: $height;
}

// box
@mixin box(
    $align: null,
    $pack: null
){
    display: -webkit-box;

    @if $align != null {
        -webkit-box-align: $align;
    }

    @if $pack != null {
        -webkit-box-pack: $pack;
    }
}

@mixin position(
    $position: absolute,
    $left: null,
    $right: null,
    $top: null,
    $bottom: null,
    $index: 0
){
    position: $position;
    z-index: $index;

    @if $left !=null {
        left: $left;
    }

    @if $right !=null {
        right: $right;
    }

    @if $top !=null {
        top: $top;
    }

    @if $bottom !=null {
        bottom: $bottom;
    }
}
