.mod_wrapper {
    // padding: 10px;
    padding-top: 10px;
}
.mod_blank {
    background: #fff;
    padding: 0 10px;
}

.mod_scroll {
    background: #f8f8f8;
    ul {
        @include box();
        li {
            margin-right: 10px;
            line-height: 20px;
            padding: 10px;
            background: #f8f8f8;
            &.current {
                background: $blue;
                color: #fff;
            }
        }
    }
}

.mod_bg {
    background-image: url(images/bg11.jpg);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: auto 100%;
    &.t_bg {
        background-size: 200% auto;
    }
}

.mod_index {
    padding: 5px;
    @include box();
    li {
        width: 33.3%;
        -webkit-box-flex: 1;
        @include box-sizing();

        padding: 0 5px;
        display: block;
        text-align: center;
        margin: 0 5px;
        // background: #eee;
        padding: 30px 10px 10px;
        line-height: 30px;
        color: #fff;

        background: rgba(255, 255, 255, 0.1);
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        -webkit-backdrop-filter: blur(3px);

        @include border-half($type: all, $color: white);
        @include bottom-shadow();
        @include icon($elem: before, $display: block, $color: #fff, $size: 60px, $mb: 10px, $line: 30px);
        &.icon_base_data:before {
            content: "\f471";
        }
        &.icon_base_user:before {
            content: "\f3b1";
        }
        &.icon_base_activity:before {
            content: "\f313";
        }
        &.icon_01:before {
            content: "\f493";
        }
        &.icon_02:before {
            content: "\f483";
        }
        &.icon_03:before {
            content: "\f453";
        }
        &.icon_06:before {
            content: "\f119";
        }
    }
}

h2 {
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    // background: #eee;
    // color: $green;
    &:before {
        width: 3px;
        display: inline-block;
        content: "";
        background: #333;
        height: 20px;
        vertical-align: middle;
        margin-right: 5px;
    }
    i {
        padding-left: 10px;
        color: $blue;
        font-size: 12px;
    }
}

//toast样式
.notifier {
    position: absolute;
    top: 200px;
    width: 100%;
    z-index: 10;
    text-align: center;
    color: #fff;
    span {
        display: inline-block;
        padding: 10px 20px;
        background: rgba(0, 0, 0, 0.7);
        @include border-radius(5px);
    }
}

.mod_login {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -90px;
    padding: 0 10px;
    width: 100%;
    height: 130px;
    @include box-sizing();

    li {
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(3px);
        color: #fff;
        margin-bottom: 10px;
        @include box($align: center);
        label,
        input {
            display: block;
            background: none;
            @include border-radius(0);
        }
        label {
            width: 80px;
            padding-left: 10px;
        }
        input {
            -webkit-box-flex: 1;
            border: 0;
            line-height: 20px;
            padding: 20px;
        }

        &:last-child {
            display: block;
            cursor: pointer;
            border: 0;
            margin-top: 10px;
            background: #f80;
            line-height: 40px;
            text-align: center;
            color: #fff;
        }
    }
}

.mod_table {
    width: 100%;
    li {
        font-size: 12px;
        width: 50%;
        display: inline-block;
        @include box-sizing($type: border-box);
        // @include border-half($type: all);
        div {
            padding: 10px;
            background: #f8f8f8;
            p {
                line-height: 20px;
                &:nth-child(1) {
                    color: #aaa;
                    font-size: 14px;
                }
            }
        }
        &:nth-child(odd) {
            padding-right: 5px;
        }
        &:nth-child(even) {
            padding-left: 5px;
        }
        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom: 10px;
        }
    }
}

// check filter
.mod_check_01 {
    @include box();
    li {
        display: block;
        line-height: 40px;
        margin-right: 20px;
        cursor: pointer;
        @include icon(
            $type: "\f372",
            $size: 14px,
            $color: #333
        );
        &:before {
            margin-right: 5px;
        }
        &.checked {
            color: $green;
            &:before {
                content: "\f373";
                color: $green;
            }
        }
    }
}


// 翻页布局
.mod_next_page {
    @include box();
    li {
        display: block;
        background: #eee;
        line-height: 30px;
        padding: 0 10px;
        border: 1px solid $border;
        margin-right: 10px;
        cursor: pointer;
        &.current {
            background: $green;
            color: #fff;
            border: 1px solid $green;
        }
    }
}


.mod_page_detail {
    background: #eee;
    border: 1px solid $border;
    @include box();
    li {
        display: block;
        -webkit-box-flex: 1;
        text-align: center;
        padding: 10px 0;
        border-right: 1px solid $border;
        &:last-child {
            border: none;
        }
        p {
            color: #000;
            font-size: 16px;
            line-height: 20px;
            &:nth-child(1) {
                color: #999;
                font-size: 12px;
            }
        }
    }
}

.mod_page_title {
    background: $green;
    line-height: 20px;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: normal;
    padding: 0 5px;
    // margin-left: -10px;
}


h4 {
    line-height: 40px;
}

// 筛选
.mod_filter {
    display: block;
    // margin-bottom: 10px;
    // background: #fff;
	dt, dd {
		label {
			display: block;
			width: 80px;
			line-height: 30px;
		}	
	}
    dt {
        background: #eee;
        @include box();
        label {
            padding-left: 10px;
        }
        ul {
            @include box($align: center);
            li {
                line-height: 20px;
                @include border-half($type: all);
                text-align: center;
                padding: 0 10px;
                background: $blue;
                color: #fff;
                margin-right: 10px;
                cursor: pointer;
                @include icon(
                    $type: "\f404",
                    $elem: after,
                    $color: #fff,
                    $ml: 5px
                );
            }
        }
    }
    dd {
        background: #fff;
		div {
        	padding: 5px 10px;
			@include box();
        	@include border-half($type: bottom);
        	ul {
        	    width: 0;
        	    -webkit-box-flex: 1;
        	    // @include box();
        	    font-size: 0;
        	    li {
        	        display: block;
        	        padding-right: 20px;
        	        line-height: 30px;
        	        margin-right: 10px;
        	        display: inline-block;
        	        font-size: 12px;
        	        cursor: pointer;
        	        &.current {
        	            color: $blue;
        	        }
        	    }
        	}
		}
    }
}
.mod_filter_base {
    dd {
        padding: 5px 0 5px 10px;
        @include box($align: center);
        @include border-half($type: bottom);
        label {
            display: block;
            width: 80px;
            line-height: 30px;
        }
        div {
            width: 0;
            -webkit-box-flex: 1;
            ul {
                @include box($align: center);
                li {
                    display: block;
                    padding: 0 10px;
                    line-height: 30px;
                    margin-right: 10px;
                    font-size: 12px;
                    cursor: pointer;
                    white-space: nowrap;
                    margin-top: 2px;
                    &.current {
                        // background: $green;
                        background: $blue;
                        color: #fff;
                    }
                }
            }
            &.t_date {
                @include box($align: center);
                input {
                    width: 0;
                    -webkit-box-flex: 1;
                    display: block;
                    -webkit-appearance: button;
                    @include border-half($type: all);
                    text-align: center;
                    background: #f8f8f8;
                }
            }
        }
    }
}



.menu_side {
    li {
        line-height: 40px;
        text-indent: 10px;
        @include border-half($type: bottom);
    }
}


.user_login_pop,
.user_login_page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    
    background: url(images/bg11.jpg) no-repeat 0 0;
    background-size: auto 100%;
    &.t_bg {
        background-size: 200% auto;
    }

    .this_cancel {
        color: #fff;
        width: 60px;
        line-height: 40px;
        margin-bottom: 10px;
        font-size: 16px;
        padding-top: 20px;
        text-indent: 10px;

        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    }

    dl {
        padding: 10px;
        dt {
            width: 100%;
            height: 50px;
        }
        dd {
            ul {
                width: 100%;
                padding-top: 10px;
                li {
                    margin-bottom: 10px;
                    @include bottom-shadow();

                    input {
                        width: 100%;
                        display: block;
                        outline: none;
                        height: 40px;
                        padding: 0 10px;
                        color: #000;
                        // -webkit-box-shadow: none !important;

                        // background: rgba(132, 181, 198, 0.5);
                        background: rgba(255, 255, 255, 0.4);
                        -webkit-backdrop-filter: blur(3px);
                        @include border-radius(0);
                        // @include border-half($type: all);
                        &::-webkit-input-placeholder {
                            color: #b88860;
                        }
                    }

                    &.this_login {
                        background: #f90;
                        line-height: 40px;
                        text-align: center;
                        color: #fff;
                        margin-bottom: 10px;
                    }

                    &.this_link {
                        color: #000;
                        @include box($align: center);
                        div {
                            height: 40px;
                            line-height: 40px;
                            width: 0;
                            -webkit-box-flex: 1;
                            &:nth-child(1) {
                                text-align: right;
                                padding-right: 50px;
                            }
                            &:nth-child(3) {
                                text-align: left;
                                padding-left: 50px;
                            }
                        }
                        p {
                            width: 1;
                            height: 12px;
                            margin-bottom: 0;
                            // @include border_right_half;
                            border-right: 1px solid #333;
                        }
                    }
                }
            }
        }
    }

    &.this_show {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

.user_login_pop {
    -webkit-transition: -webkit-transform 0.15s linear;
    -webkit-transform: translate3d(0, 100%, 0);
}


