* {
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
}
body {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #333;
    background: #f8f8f8;
    // position: relative;
    // height: 100%;
}

$left: 200px;

body {
    &.tbody,
    &.tbodys {
        .mod_wrapper {
            padding-top: 65px;
        }
    }
    &.tbody {
        background: -webkit-linear-gradient(left, $green 0%, $green 60px, #eee 60px, #eee $left, #f8f8f8 $left, #f8f8f8 100% );
        background: -webkit-linear-gradient(left, $green 0%, $green 60px, #eee 60px, #eee $left, #fff $left, #fff 100% );
    }
    &.tbodys {
        background: -webkit-linear-gradient(left, $green 0%, $green 60px, #f8f8f8 60px, #f8f8f8 100% );
        background: -webkit-linear-gradient(left, $green 0%, $green 60px, #fff 60px, #fff 100% );
    }
}

i, em {
    font-style: normal;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

input {
    outline: none;
}

.mb10 {
    margin-bottom: 10px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}