body,p,h1,h2,h3,h4,h5,div,span,input,button,section,ul,li,ol,dl,dt,dd {
    padding: 0;
    margin: 0;
}
// html {
//     height: 100%;
// }
body {
    font-size: 14px;
    // font-family: "Microsoft YaHei";
    font-family:"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;
    color: #333;
    background: #f8f8f8;
}

$left: 200px;

i, em {
    font-style: normal;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

input {
    outline: none;
}

.mb10 {
    margin-bottom: 10px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}

h1,h2,h3,h4,h5 {
    font-size: 14px;
}